@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    z-index: 10; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    transition: background-color 0.5s ease;
}

nav ul li a:hover {
    color: #fff;
    background: rgb(135, 240, 135);
}

.line {
    width: 3.4px;
    background: #fff;
}

.first {
    height: 35px;
}

.second {
    height: 25px;
}

.third {
    height: 10px;
}

.hero {
    z-index: -1;
    position: relative;
    top: 0;
}

.hero video {
    filter: brightness(40%);
    width: 100%;
    height: auto;
}

.hero_text {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 40;
    color: #fff;
}

.openNav {
    top: 0px;
}

/* Card */
.card {
    display: grid;
    grid-template-columns: 300px minmax(200px, 1fr);
    gap: 10px;
    height: calc(50vh - 50px);
    align-items: center;
    font-family: Poppins, sans-serif;

}

.image_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_container {
    height: 100%;
    background-color: #e7ffe4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
}

.content_container h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    color: #000;
}

.content_container p {
    font-size: 16px;
    margin: 0;
    padding: 0px 10px;
    color: #000;
}

.mision{
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;

    .mision_text{
        max-width: 600px;
    }

    h2{
        font-size: 40px;
    }

    p{
        font-family: Poppins, sans-serif;
        color: #404040;
    }
}

button{
    background-color: #84c0a0;
    padding: 12px 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-family: Poppins, sans-serif;
    cursor: pointer;
}

button:hover{
    background-color: #009650;
}

.mision_icono{
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0 auto;

    img{
        width: 100%;
    }
}



.content_container a {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background-color: #009650;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    width: 70px;
    margin: 10px;
}

footer{
    position: relative;
    min-width: 320px;
    max-width: 2060px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h4{
        font-size: 18px;
    }
    p{
        font-weight: 200;
    }
    
.footer_text{
    position: absolute;
    max-width: 500px;
    text-wrap: balance;
    color: #fff;
}
.redes_footer svg{
margin: 0 5px;
cursor: pointer;
}
}
footer img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}   


@media (min-width: 1250px) {
    .card {
        align-items: center;
        height: calc(40vh - 50px);
    }
}
@media (max-width: 1250px) {
    .card {
        align-items: center;
        height: calc(60vh - 50px);
    }
     
     .tree-card-container {
        grid-template-columns: 1fr;
    }
}


/* Card end */
/* Arboles */
.trees_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tree-card-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 40px;
    justify-content: center;

}

.trees_container h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px;
    color: #000;
    text-transform: uppercase;

}
@media (max-width: 1020px) {
     /* Arboles */
     .tree-card-container {
        grid-template-columns: 1fr;
    }
}
/* Arboles end */

@media (max-width:1020px) {
    header {
        padding-left: 0;
        font-weight: 500;
    }

    nav {
        ul {
            flex-direction: column;
            position: absolute;
            background: rgb(135, 240, 135);
            padding: 20px;
            top: -9999px;
            height: 200vw;
            transition: all 1s;
        }
    }

    .hero_text {
        align-items: flex-end;
        justify-content: center;

        h1 {
            font-size: 16px;
            letter-spacing: 10px;
        }
    }

    .mision_text h2{
        font-size: 22px;
    }

    .mision_text p{
        font-size: 14px;
    }

    .menu {
        width: fit-content;
        align-items: center;
        flex-direction: row-reverse;
        gap: 3.5px;
        cursor: pointer;
        padding: 2px;
        display: flex;
    }

   
}

@media (min-width: 480px) {
    .hero_text h1 {
        font-size: 40px;
    }

    /* Arboles */


}

@media (min-width: 1024px) {
    .hero_text h1 {
        font-size: 120px;
        letter-spacing: 20px;
    }

    .menu {
        display: none;
    }

}

@media (max-width: 688px) {
    .card {
        align-items: center;
        grid-template-columns: 1fr;
        height: 460px;
    }

}

@media (max-width: 1206px) {
    .card {
        align-items: center;
        grid-template-columns: 1fr;
        height: 460px;
    }
}